{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mx-auto">Todo List</h1>
        <h2>タスク追加</h2>
        <div>
            <form action="" method="post" class="form">
                {% for item in form %}
                    <div class="form-group">
                        <label for="{{ item.id_for_label }}">{{ item.label }}</label>
                        <input
                                type="{{ item.field.widget.input_type }}"
                                class="form-control"
                                {% if item.field.required %}required{% endif %}
                                name="{{ item.name }}"
                                id="{{ item.id_for_label }}">
                    </div>
                {% endfor %}
                {% csrf_token %}
                <input type="submit" value="追加" class="btn-primary btn btn">
            </form>
        </div>

        <h2>タスク一覧</h2>
        {% for task in tasks %}
            <p>{{ task }}</p>
        {% endfor %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
            integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
            integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
            crossorigin="anonymous"></script>
{% endblock %}